{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="jumbotron">
    <div class="container">
        <h1>Some Recent Blogs:</h1>
    </div>
    <p>
        {%if messages%}
        {%for message in messages%}
            <p>{{message}}</p>
        {%endfor%}
        {%endif%}
    </p>
    {%if models%}
        {%for model in models%}
    <div class="container">
        <h3>{{model.blogTitle}}</h3>
        <p>{{model.blogDescription}}</p>
        <p>
            <a href="{%url 'detail' model.id%}">
                <button type="button" class="btn btn-info" style="margin-left: 100px;">
                    Details
                </button>
            </a>
        </p>
    </div>
    {%endfor%}
    {%endif%}
</div>
{%endblock%}